.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: grey;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


body {
  background-color: #121212;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.react-calendar-heatmap .color-gitlab-n {
  fill: #000000;
}

.react-calendar-heatmap .color-gitlab-0 {
  fill: #1575e2;
}

.react-calendar-heatmap .color-gitlab-1 {
  fill: #244d75;
}

.react-calendar-heatmap .color-gitlab-2 {
  fill: #41668b;
}

.react-calendar-heatmap .color-gitlab-3 {
  fill: #698bad;
}

.react-calendar-heatmap .color-gitlab-4 {
  fill: #8fb2ca;
}
